<% provide(:title, "About") %>

<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %>| Deliver</title>
	</head>
	<body>
		<h1>Deliver</h1>
			<p>This is the about page for Deliver.</p>
	</body>
</html>